.App {
  background-color: #ee5166;
  background: linear-gradient(315deg, #ee5166 0%, #f08efc 74%);
  min-height: 100vh;
}


.footer {
  display:flex;
  
  align-items: flex-end;
  width: 100%;
  min-height: 30vh;
  justify-content: center;
  
}




